@import url("https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Cedarville+Cursive&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

h1 {
  font-family: "Bitcount Single", serif, cursive;
  color: aliceblue;
}

.container {
  max-width: 2000px;
  width: 100%;
};

.card {
  max-width: 500px;
  height: 100%
};

html,
body {
  height: 100%;
}

body {
  align-items: center;
  background: linear-gradient(135deg, #B11226, #243A6B);
  display: flex;
  text-align: center;
}

